#root {
  min-height: 100vh;
  font-family: "Helvetica", sans-serif;
}
.header {
  z-index: 999;
}

.icon-button {
  border: 0;
  border-radius: 0.25rem;
  background: none;
  color: black;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.card {
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}

.icon-button .fade {
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.icon-button .fade:not(.show) {
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.icon-button .fade:not(.show) input {
  visibility: hidden;
  padding: 0;
  border: 0;
}

.recharts-responsive-container {
  height: max-content;
}
